.mySlides {
  display: none;
}

body {
  /* background-color: rgb(255, 235, 211); */
  /* background-image: url("https://th.bing.com/th/id/OIP.xXLxgHqXZ_pdKDMNVC4GTgHaEK?pid=ImgDet&rs=1"); */
  background-color: #F6F5F5;
  font-family: Verdana, sans-serif;
}

.head {
  margin-top: 45px;
  margin-right: 20vw;
  margin-left: 20vw;
  text-align: center;
  font-size: 30px;
  background-color: #3BB4C1;
  color: white;
  border-radius: 25px;
  font-weight: bolder;
}

.data-container {
  width: 600px;
  height: 384px;
  position: relative;
  margin: 0 auto;
}

.bar {
  width: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #F3BAD6;
  transition: 0.2s all ease;
}

.bar__id {
  position: absolute;
  top: -24px;
  width: 100%;
  text-align: center;
}

.btn1 {
  padding: 12px;
  font-weight: bolder;
  background-color: #3BB4C1;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  border: white;
  margin-left: 37vw;
  margin-top: 4vw;
  margin-right: 1vw;
}

.btn2 {
  padding: 12px;
  font-weight: bolder;
  background-color: #3BB4C1;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  border: white;
}
